
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

header {
    width: 100%;
}

h1:not(#headline) {
    text-transform: uppercase;
    padding: 5rem 0 3rem 0;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    font-size: 2.5rem;
}

p {
    font-family: 'Inconsolata', monospace;
    line-height: 1.4rem;
}

#jumbo {
    width: 100%;
    height: 100vh;
    background: linear-gradient(grey, white);
}

#headline {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    margin-right: 20px;
    float: left;
    opacity: .7;
    padding: .5rem;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 100px;
    box-sizing: border-box;
    z-index: 1;
}

ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 56px;
    margin-left: 200px;
}

ul li {
    display: inline-block;
}

ul li a {
    line-height: 70px;
    color: black;
    padding: 5px;
    margin-left: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 5px;
    border-bottom: 1px solid transparent;
    transition: .6s;
}

ul li a:hover {
    border-bottom: 1px solid black;
}

#main {
    margin-top: 10rem;
    margin-left: 35%;
    width: 50%;
}

#main p {
    width: 62%;
    padding: 2.5rem 0;
    opacity: .6;
    text-align: center;
}

#string {
    font-size: 1.1rem;
    width: 30rem;
    height: 15rem;
    resize: none;
    font-size: 1.2rem;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    outline: none;
}

#string:focus {
    outline: 2px solid rgba(177, 83, 255, 0.8);
}

#func {
    margin-left: 4rem;
    margin-top: 1rem;
}

input[type=number] {
    min-height: 2.2rem;
    min-width: 6.5rem;
    font-size: 1rem;
    text-align: center;
    outline: none;
    font-weight: 700;
}

input[type=number]:focus {
    outline: 2px solid rgba(177, 83, 255, 0.8);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=button] {
    min-height: 2.5rem;
    min-width: 6.5rem;
    border: none;
    font-size: 1rem;
    transition: .7s;
    font-family: 'Raleway', sans-serif;
    border: .5px solid transparent;
}

input[type=button]:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
    background-color:rgba(194, 145, 235, 0.8);
    border: .5px solid black;
}

#shift {
    margin-left: 1rem;
    margin-right: 1rem;
}

.content {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border-bottom: 2px solid grey;
}

.content img {
    padding: 1rem;
}

.spc {
    padding-top: 4rem;
}

.content p:not(.keyword) {
    padding-bottom: 8rem;
}

.content a, label {
    font-family: 'Raleway', sans-serif;
    font-style: none;
    line-height: 1.8rem;
}

.content img {
    height: 10rem;
    align-items: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

.tooltip .tooltipText {
    font-family: 'Raleway', sans-serif;
    visibility: hidden;
    width: 100px;
    background-color: darkgrey;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    top: 100%;
    left: 50%; 
    margin-left: -50px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 3;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

footer {
    padding: 2rem;
}

footer p {
    text-align: center;
    text-transform: uppercase;
}







